<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cubicle</title>
  <link href="/static/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
</head>

    <main>
      <h1>Browser</h1>
      <form action="" method="">
        <input type="text" class="search" name="search" placeholder="Search..." value = "{{search}}">
        <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value = "{{from}}">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value = "{{to}}">
        <input type="submit" value="search">
      </form>
      
      {{#each cubes}}
        {{> cube}}
      {{/each}}
    </main>
  
</html>